.map-block {
    height: 100%;
}

.map, .map iframe {
    height: 70%;
    width: 100%;
}

.map iframe {
    height: 100%;
    width: 100%;
}
.info {
    height: 30%;
    background-color: white;
}

.map-image {
    margin: 5px;
    width: 200px;
}
